langchain 
langchain 
tiktoken 
pypdf 
langchain_community 
PyPDF2 
python-multipart 
docx2txt 
pdf2image 
unstructured 
pdfminer.six
opencv-python
huggingface_hub 
openai 
python-dotenv
streamlit 
langchain-openai
sentence-transformers
faiss-gpu